* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    
}

nav {
    
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    background: beige;
}
.Space-Menu {
    position: relative;
    background: lightgreen;
    width: 75%;

    display: flex;
    justify-content: center;
    
    

    .Menu {
        position: absolute;
        z-index: 2;
        background: pink;

        margin: 0 auto;
        /*left: 40%*/
    }
    .Menu2 {
        position: relative;
        z-index: 1;
        opacity: 0;
        display: flex;
        
        width: 90%;
        justify-content: space-around;
        
        /*visibility: hidden;*/
        /*left: 22%;
        margin: 0 auto;*/
        background: powderblue;
    }
}

.Item-Menu2 {
    p {
        position: relative;

        cursor: pointer;
    }
    ul {
        position: absolute;
        margin-top: 32px;

        height: auto;

        padding: 7px;
        border: solid 1px #f2f3f3;
        box-shadow: 5px 5px 10px #b3b8b8;
        background: white;
        border-radius: 7px;

        opacity: 0;
        transition: opacity 800ms;
        transition-delay: 600ms;
    }
}

.Item-Menu2-1:hover .Lista-Menu2-Hogar {
    opacity: 1;
    transition: opacity 800ms;
    transition-delay: 600ms;
}
.Item-Menu2-2:hover .Lista-Menu2-Vestuario {
    opacity: 1;
    transition: opacity 800ms;
    transition-delay: 600ms;
}
.Item-Menu2-3:hover .Lista-Menu2-Accesorios {
    opacity: 1;
    transition: opacity 800ms;
    transition-delay: 600ms;
}
.Item-Menu2-4:hover .Lista-Menu2-Tecnologia {
    opacity: 1;
    transition: opacity 800ms;
    transition-delay: 600ms;
}

ul {
    list-style: none;
    /*visibility: hidden;*/
}
a {
    text-decoration: none;
}

li {
    margin-bottom: 5px;
}



.Primer-menu {
    margin-top: 50px;
    
    position: absolute;
    
    height: auto;

    padding: 7px;
    border: solid 1px #f2f3f3;
    box-shadow: 5px 5px 10px #b3b8b8;
    background: white;
    border-radius: 7px;

    opacity: 0;
    transition: opacity 800ms;
    transition-delay: 600ms; 
    
}

.Segundo-menu {
    
    position: absolute;
    height: auto;
    padding: 7px;
    border: solid 1px #f2f3f3;
    box-shadow: 5px 5px 10px #b3b8b8;
    background: white;
    border-radius: 7px;

   
    opacity: 0;
    /*transition: opacity 800ms;
    transition-delay: 600ms;*/
    
    margin-top: -10px; 

    margin-left: 50px;
}


.Primer-menu :nth-child(1):hover .menu-hogar {

    opacity: 1;
    transition: opacity 800ms;
    /*transition-delay: 3s;*/
    
    transform: translateX(30px);
    transition-delay: 2s;
    transition: transform 500ms linear;
    
    
/*
    transform: translateX(80px);
    transition: transform 1s linear;
    transition-delay: 800ms; */
        
}
.Primer-menu :nth-child(1):hover .menu-vestuario {
    opacity: 0;
    /*transition: opacity 10ms;*/
}

.Primer-menu :nth-child(2):hover .menu-vestuario {
        
    opacity: 1;
    transition: opacity 800ms;
    /*transition-delay: 800ms;*/

    transform: translateX(30px);
    transition-delay: 2s;
    transition: transform 500ms linear;

} 
.Primer-menu :nth-child(2):hover .menu-hogar,
.Primer-menu :nth-child(2):hover .menu-accesorios {
    opacity: 0;
    /*transition: opacity 10ms;*/
}

.Primer-menu :nth-child(3):hover .menu-accesorios {
        
    opacity: 1;
    transition: opacity 800ms;
    /*transition-delay: 800ms;*/

    transform: translateX(30px);
    transition-delay: 2s;
    transition: transform 500ms linear;

} 
.Primer-menu :nth-child(3):hover .menu-vestuario,
.Primer-menu :nth-child(3):hover .menu-tecnologia {
    opacity: 0;
    /*transition: opacity 10ms;*/
}

.Primer-menu :nth-child(4):hover .menu-tecnologia {
        
    opacity: 1;
    transition: opacity 800ms;
    /*transition-delay: 800ms;*/

    transform: translateX(30px);
    transition-delay: 2s;
    transition: transform 500ms linear;

} 
.Primer-menu :nth-child(4):hover .menu-accesorios {
    opacity: 0;
    /*transition: opacity 10ms;*/
}

.menu-vestuario li:hover .menu-hogar,
.menu-vestuario li:hover .menu-accesorios,
.menu-vestuario li:hover .menu-tecnologia {
    opacity: 0;
    visibility: hidden;
}

.Menu {
    display: flex;

    position: relative;

    cursor: pointer;
/*
    p {
        margin-left: -60px;
    }*/

}



.Menu:hover .Primer-menu {
    opacity: 1;
    transition: opacity 800ms;
    transition-delay: 600ms;
}

section {
    
    padding: 20px;
}

.listProd {
    width: 100%;
    height: auto;

}

.producto {
    width: 83%;

    min-width: 230px;
    max-width: 330px;
    
    height: 75vw;
    max-height: 330px;
    min-height: 230px;
    
       

    border: solid 1px #f2f3f3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b3b8b8;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 15px;

    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;

    img {
        
       /* min-width: 250px;
        max-width: 400px; */
        width: 90%;
        height: 90%;

    }
    
}
.Face {
    position: absolute;
    backface-visibility: hidden;
}

.producto:hover {
    transform: rotateY(180deg);
}
.Description {
    transform: rotateY(180deg);
    padding: 20px;
    /*display: flex;
    flex-direction: column;

    p {
        margin: 0 auto;
    }*/

    p:nth-child(1) {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p:last-child {
        font-size: 20px;
        font-weight: 700;
        margin-top: 10px;
        color: orangered;
    }
    
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;

    p {
        margin-right: 7px;
    }
}

footer {
    
    display: flex;
    flex-direction: column;
    
    div {
        align-self: center;
    }

    .line {
        width: 90%;
        border-bottom: 2px #e4e5e7 solid;
        margin-bottom: 20px;
    }
}



.dataContacts {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    
    p {
        margin: 0 auto;
    }
    
}

.icons {

    img {
        width: 30px;
        height: 30px;
    }
   
}

.titleFooter {
    margin-bottom: 20px;
}

.iconsSNet {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.iconChat {
    visibility: hidden;
}


@media (min-width: 768px) {

    .Space-Menu {
    
        .Menu {
            
            z-index: 1;
            
        }
        .Menu2 {
            
            z-index: 2;
            opacity: 1;
            
        }
    }
    
    .listProd {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        width: 41.5%;
    }

    footer {
        padding-bottom: 20px;
    }
    .contacts {
        width: 83%;
        display: flex;
        justify-content: space-around;

        .dataContacts, .iconsSNet {
            width: 50%;
        }
        .iconsSNet {
            justify-content: space-around;
            
            padding: 0 25px 0 25px;
        }
        .iconChat {
            width: 0;
        }
    }

}

@media (min-width: 1024px) {
    
    .producto {
        width: 27.6%;
    }

    .contacts {
        
        .dataContacts, .iconsSNet, .iconChat {
            width: 33.33%;
        }
        .iconsSNet {
            justify-content: space-around;
            padding: 0 25px 0 25px;
        }
        .iconChat {
            visibility: visible;
            display: flex;
            justify-content: center;

            img {
                scale: 1.5;
            }
            
            
            
        }
    }

}

